@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Checkout";
}

@model AssetManagement.BL.ViewModels.CheckoutDetails 

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-3 p-2">
                <div class="card-header">
                    <h3 class="mb-0">CheckOut Info</h3>
                </div>
                <div class="card-body">

                    <form asp-action="Checkout" method="post">

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="Username">User Name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" asp-for="Username">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="Companyname">Company Name</label>
                            <div class="col-lg-9">
                                <input class="form-control" asp-for="Companyname">
                                <span asp-validation-for="Companyname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="Address">Address</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Address" rows="3"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="Mobilenumber">Mobile Number</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="number" asp-for="Mobilenumber">
                                <span asp-validation-for="Mobilenumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="DateIn">Date In</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="date" asp-for="DateIn">
                                <span asp-validation-for="DateIn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="DateOut">Date Out</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="date" asp-for="DateOut">
                                <span asp-validation-for="DateOut" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="Signature" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" asp-for="Signature">Signature</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input class="btn btn-secondary" type="reset" value="Cancel">
                                <input class="btn btn-primary" type="submit" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

